<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: page-header"></nav>

<div class="container body-content">
    <h1 th:text="${title}">Default Title</h1>

    <form method="post" style="max-width:600px;" th:object="${laptop}" action="/edit-laptop">
        <div class="form-group">
            <label th:for="computerName">Computer Name</label>
            <input class="form-control" th:field="*{computerName}" />
            <span th:errors="*{computerName}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="serialNumber">Serial Number</label>
            <input class="form-control" th:field="*{serialNumber}" />
            <span th:errors="*{serialNumber}" class="error"></span>
        </div>
        <input class="form-control" type="hidden" id="laptopId" name="laptopId" th:value="${laptop.getId()}"/>
        <button type="submit" class="btn btn-success" value="Add Laptop">Edit</button>
    </form>
</div>
</body>
</html>