<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: page-header"></nav>

<div class="container body-content">

    <h1 th:text="${title}">Default Title</h1>


    <p style="color: red;" th:unless="${laptops} and ${laptops.size()}">No laptops found.  <a href="/add-laptop"><button class="btn btn-success" style="margin-left: 7px;">Add Laptop</button></a></p>
    <p style="color: red;" th:unless="${users} and ${users.size()}">No students found.  <a href="/add-users"><button class="btn btn-success">Add Student</button></a></p>

    <div>
            <table class="table">
                <tr>
                    <th>Computer Name</th>
                    <th>Serial Number</th>
                    <th>Check Out</th>
                </tr>

                <tr th:each="laptop : ${laptops}">
                    <td th:if="${laptop.checkedOut}==false"  th:text="${laptop.computerName}"></td>
                    <td th:if="${laptop.checkedOut}==false"  th:text="${laptop.serialNumber}"></td>
                    <div>
                        <td th:if="${laptop.checkedOut}==false">
                            <form method="post" action="/checkout">
                                <input type="hidden" name="laptopId" id="laptopId" th:value="${laptop.getId()}"/>
                                <select  name="userId">
                                    <option th:each="user : ${users}" th:text="${user.getStudentIDNumber()}+' '+${user.getLastName()}+', '+${user.getFirstName()}" th:value="${user.getId()}"/>
                                </select>
                                <input class="btn btn-success" type="submit" style="margin-left:15px;"value="Check Out"/>
                            </form>
                        </td>
                    </div>
                </tr>
             </table>
    </div>
</div>
</body>
</html>