<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: page-header"></nav>

<div class="container body-content">

    <h1 th:text="${title}">Default Title</h1>


    <p style="color: red;" th:unless="${laptops} and ${laptops.size()}">No laptops found. Please add a laptop!</p>

    <div>
            <table class="table">
                <tr>
                    <th>Computer Name</th>
                    <th>Serial Number</th>
                    <th>Check Out</th>
                </tr>

                <tr th:each="laptop : ${laptops}">
                    <td th:if="${laptop.checkedOut}==false"  th:text="${laptop.computerName}"></td>
                    <td th:if="${laptop.checkedOut}==false"  th:text="${laptop.serialNumber}"></td>
                    <div>
                        <td th:if="${laptop.checkedOut}==false">
                            <form method="post" action="/checkout">
                                <input type="hidden" name="laptopId" id="laptopId" th:value="${laptop.getId()}"/>
                                <select  name="userId">
                                    <option th:each="user : ${users}" th:text="${user.getStudentIDNumber()}+' '+${user.getLastName()}+', '+${user.getFirstName()}" th:value="${user.getId()}"/>
                                </select>
                                <input class="btn btn-success" type="submit" style="margin-left:15px;"value="Check Out"/>
                            </form>
                        </td>
                    </div>
<!--                    <div>-->
<!--                        <td th:if="${laptop.checkedOut}==true">-->
<!--                            <form method="post" action="/checkin">-->
<!--                                <input class="btn btn-success" type="submit" value="${laptop.loan.getId()}"/>-->
<!--                            </form>-->
<!--                        </td>-->

<!--                    </div>-->

<!--                    <td><a class="btn btn-warning" th:href="'/edit-laptop/'+${laptop.getId()}" th:text="Edit"></a></td>-->
                </tr>
             </table>
    </div>
</div>
</body>
</html>